<div class="container">
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            <div class="p-2 text-center">
                <div class="card" style="min-width:18rem;max-width:100%">
                    <div class="card-body">
                        <h5 class="card-title">Sayfa bulunamadı (404)</h5>
                        <br>
                        <a href="javascript:history.back()" class="card-link">Geri dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>