{% extends 'election/base.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}
{% block body %}
<div class="container">
    {% if not_found %}
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            <div class="p-2 card text-center" style="min-width:18rem;max-width:100%">
                <div class="card-body">
                    <h5 class="card-title">Sandık Bulunamadı.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Lütfen girdiğiniz sandığı aşağıdaki butona tıklayarak oluşturun.</h6>
                        <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form box_form %}
                            <input type="submit" class="btn btn-success" value="Oluştur">
                        </form>
                        <br>
                        <a href="javascript:history.back()" class="card-link">Geri dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            <div class="p-2 text-center" style="min-width:18rem;max-width:100%">
                <h5>
                    <a href="/sandik/{{ box.district.city.slug }}">{{ box.district.city.name }}</a> - 
                    <a href="/sandik/{{ box.district.city.slug }}/{{ box.district.slug }}">{{ box.district.name }}</a>
                </h5>
                <h6>Sandık Numarası</h6>
                <h5><mark>{{ box.number }}</mark></h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            {% if n_vote_report > 0 %}
                {% render_table vote_report_table %}
            {% else %}
                {% include 'election/no_record.html' with message='Bu sandığa ait henüz bir tutanak bulunmuyor.' %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            <div class="p-2 card text-center" style="min-width:18rem;max-width:32rem">
                <button id="add-report-btn" class="btn btn-primary">Tutanak Ekle</button>
                <form action={% url 'create-vote-report' %} method="post" enctype="multipart/form-data" id="add-report-form" class="d-none">
                    {% csrf_token %}
                    {% bootstrap_form vote_report_form %}
                    <input type="submit" class="btn btn-success" value="Kaydet">
                    <div class="alert alert-secondary d-flex align-items-center mt-2 mb-0" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                          Sistemimizi temiz tutmak adına <strong>sadece bu sandığa ait tutanak mevcut değilse veya yukarıdaki tablodaki tutanaklar hatalı ise</strong> yeni bir tutanak ekleyiniz.
                        </div>
                    </div>
                    <div class="alert alert-primary d-flex align-items-center mt-2 mb-0" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        <div>
                          Geçerli ve geçersiz oy sayısı toplamı ile Kemal Kılıçdaroğlu ve Tayyip Erdoğan oy sayıları toplamı <strong>birbirine eşit</strong> olmalıdır.
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}