{% extends 'election/base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col d-flex flex-column p-2 align-items-center">
            <div class="p-4">
                <div class="card" style="min-width:18rem;max-width:720px">
                    <div class="card-body">
                        <h2>Neden açıkseçim.com'u kullanmalıyım?</h2>
                        <p class="lead">Çünkü doğruya ulaşacak kişiler en nihayetinde biziz.</p>
                        <p>Canım ülkemde seçim verileri yorulabiliyor, dinlenmesi gerekebiliyor. açıkseçim.com bunun önüne geçerek anında tüm ıslak imzalı tutanaklara erişim sağlıyor.</p>
                        <p>Bu sayede hızlıca bir veritabanı oluşturuyoruz, ve bunu herkesle paylaşıyoruz.</p>
                        <p>Seçim resmi sonuçları YSK tarafından açıklandığı zaman binlerce kullanıcı ıslak imzalı tutanakları karşılaştırıyor, ve seçim en hakikate yakın şekilde sonuçlanıyor.</p>
                        <br>
                        <h2>Seçim günü ne yapmalıyım?</h2>
                        <p class="lead">açıkseçim.com'da bulunduğun sandığın tutanağını yükleyebilir veya mevcut yüklenmiş tutanakları kontrol edebilirsin.</p>
                        <p><strong>Müşahitsen</strong> bulunduğun sandığı <mark>Sandıklar</mark> sayfasını takip ederek yaratıp tutanağı sisteme yükleyebilirsin.</p>
                        <p><strong>Seçimi evden takip ediyorsan</strong> yine <mark>Sandıklar</mark> sayfasını takip ederek sandık veya tutanak listeleri aracılığıyla tutanakları kontrol edip kararını gönderebilirsin.</p>
                        <p><strong>Veri Analisti isen</strong> <mark>İstatistikler</mark> sayfasından tüm tutanakları indirip verileri görselleştirebilir, <em>outlier</em> sandıkları tespit edebilirsin.</p>
                        <br>
                        <h2>Müşahidi olduğum sandığı nasıl bulabilirim?</h2>
                        <p><mark>Sandıklar</mark> sayfasını takip ederek önce sandığını arayabilirsin. Sandık mevcut değilse yenisini oluşturman için sana uyarı gösterecek.</p>
                        <br>
                        <h2>Tutanakları nasıl kontrol edebilirim?</h2>
                        <p><mark>Sandıklar</mark> sayfasını takip ederek önce il ve ilçeni seç.</p>
                        <p>Daha sonra <mark>Tüm Sandıklar</mark> seçeneğiyle o ilçeye ait sandıkları tek tek ziyaret ederek tutanakları kontrol edebilirsin.</p>
                        <p>"Hangi sandık olduğu önemli değil" dersen <mark>Tüm Tutanaklar</mark> seçeneğiyle o ilçeye ait tüm tutanakları kontrol edebilirsin.</p>
                        <br>
                        <h2>Bir sandık için birden fazla tutanak yüklenmiş gözüküyor, hangisi doğru?</h2>
                        <p>açıkseçim.com herkesin katkısına açık olduğu için aynı sandığa birden fazla tutanağı kabul ediyoruz.</p>
                        <p>Bu noktada kullanıcılarımızın kontrollerine güveniyoruz. Mümkün olduğu kadar tutanak kontrolü yapıp hatalı olanları işaretlerseniz, doğruya en yakın sonuca ulaşmış oluruz.</p>
                        <br>
                        <h2>açıkseçim.com ne demek?</h2>
                        <p class="lead">Sitenin kaynak kodu herkese açık (İngilizcede <em>open-source</em> derler).</p>
                        <p>Kaynak koduna <a href="https://github.com/oguzhanakan0/aciksecim"><strong>buradan</strong></a> ulaşabilirsiniz.</p>
                        <p>Ayrıca "açık seçik" sıfatına çok yakın olduğu için bu ismi seçtim.</p>
                        <a href="javascript:history.back()" class="card-link">Geri dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}